.starwars-container {
}
.starwars-character-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}
.starwars-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 300px;
  width: 40%;
  border: 1px solid;
  border-radius: 20px;
  margin: 10px auto;
  padding: 20px 10px;
  background-color: #ffffffde;
}

.char-name {
  padding: 10px;
}
.char-birthday {
  padding: 10px;
}
.char-vehicle {
  padding: 10px 0 10px 10px;
}
